{% load static %}

<header class="header">
    <section class="flex">

        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'image/logo.png' %}" alt="logo-png" width="130px">
        </a>

        <nav class="navbar">
            <a href="{% url 'home' %}">home</a>
            <a href="{% url 'menu' %}">shop</a>
            <a href="{% url 'order' %}">order</a>
            <a href="{% url 'about' %}">about us</a>
            <a href="{% url 'contact' %}">contact us</a>
        </nav>

        <form action="{% url 'search_product' %}" method="POST" class="search-form">
            {% csrf_token %}
            <input type="text" name="search_product" placeholder="search product..." required maxlength="100">
            <button type="submit" id="search_product_btn">
                <img src="{% static 'image/icon/search.png' %}">
            </button>
        </form>

        <div class="icons">
            <div id="menu-btn"><img src="{% static 'image/icon/list.png' %}" alt="menu-icon"></div>
            <div id="search-btn"><img src="{% static 'image/icon/search.png' %}" alt="search-icon"></div>

            <a href="{% url 'wishlist' %}">
                <img src="{% static 'image/icon/wl.png' %}" alt="wishlist-icon">
            </a>

            <a href="{% url 'cart' %}">
                <img src="{% static 'image/icon/cart.png' %}" alt="cart-icon">
            </a>

            <div>
                {% if request.session.buyer_id %}
                    <img src="/media/{{ request.session.buyer_image }}"
                         id="user-btn"
                         style="width:27px; height:27px; border-radius:50%; object-fit:cover; cursor:pointer;">
                {% else %}
                    <img src="{% static 'image/icon/profile.png' %}"
                         id="user-btn"
                         style="width:27px; height:27px; cursor:pointer;">
                {% endif %}
            </div>
        </div>

        <div class="profile-detail">

            {% if request.session.user_id %}
                <img src="/media/{{ request.session.user_image }}"
                     alt="Profile Image"
                     width="80" height="80"
                     style="border-radius:50%; object-fit:cover;">

                <h3 style="margin-bottom: 1rem;">{{ request.session.user_name }}</h3>

                <div class="flex-btn">
                    <a href="{% url 'profile' %}" class="btn">view profile</a>
                    <a href="{% url 'logout' %}" onclick="return confirm('logout from this website');" class="btn">logout</a>
                </div>

            {% else %}
                <h3 style="margin-bottom: 1rem;">please login or register</h3>

                <div class="flex-btn">
                    <a href="{% url 'login' %}" class="btn">login</a>
                    <a href="{% url 'register' %}" class="btn">register</a>
                </div>
            {% endif %}

        </div>

    </section>
</header>
