{% load static %}

<div class="slider-container">
    <div class="slider">

        <div class="slideBox">
            <div class="textBox">
                <h1>Cold treats are my kind <br>of comfort food<br>Exceptional flavours</h1>
                <a href="{% url 'menu' %}" class="btn">Shop now</a>
            </div>
            <div class="imgBox">
                <img src="{% static 'image/slider0.jpg' %}" alt="Slider Image 2">
            </div>
        </div>

        <div class="slideBox active">
            <div class="textBox">
                <h1>We pride ourselves on <br>exceptional flavours</h1>
                <a href="{% url 'menu' %}" class="btn">Shop now</a>
            </div>
            <div class="imgBox">
                <img src="{% static 'image/slider.jpg' %}" alt="Slider Image 1">
            </div>
        </div>

    </div>

    <ul class="controls">
        <li onclick="nextSlide();" class="next">
            <i class="bx bx-right-arrow-alt"></i>
        </li>
        <li onclick="prevSlide();" class="prev">
            <i class="bx bx-left-arrow-alt"></i>
        </li>
    </ul>
</div>
