{% extends "base.html" %}
{% load static %}
{% block title %}View Product - Blue Sky Summer{% endblock title %}

{% block content %}

{% comment %} <div class="banner">
    <div class="detail">
        <h1>product detail</h1>
        <p>Step into a world of creamy indulgence where each bite is a moment of pure bliss.
        From classic flavors to bold new creations, there's something delicious for everyone!</p>

        <span>
            <a href="{% url 'home' %}">home</a>
            <i class="bx bx-right-arrow-alt"></i> product detail
        </span>
    </div>
</div> {% endcomment %}

<section class="view_page">
    <div class="heading">
        <h1>Product Detail</h1>
        <img src="{% static 'image/separator-img.png' %}" alt="Separator">
    </div>

    <form action="{% url 'add_to_cart' product.id %}" method="post" class="box">
        {% csrf_token %}

        <div class="img-box">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>

        <div class="detail">

            {% if product.stock > 9 %}
                <span class="stock" style="color: green;">In stock</span>
            {% elif product.stock == 0 %}
                <span class="stock" style="color: red;">Out of stock</span>
            {% else %}
                <span class="stock" style="color: red;">Hurry, only {{ product.stock }} left</span>
            {% endif %}

            <p class="price">${{ product.price }}/-</p>

            <div class="name">{{ product.name }}</div>
            <p class="product-detail">{{ product.product_detail }}</p>

            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="hidden" name="qty" value="1">

            <div class="button">

                <button type="submit" formaction="{% url 'add_to_wishlist' product.id %}" class="btn">
                    Add to wishlist <i class="bx bx-heart"></i>
                </button>

                <button type="submit" class="btn">
                    Add to cart <i class="bx bx-cart"></i>
                </button>

            </div>
        </div>
    </form>
</section>

<!-- SIMILAR PRODUCTS ---------------------------------------------------->
<div class="products">
    <div class="heading">
        <h1>Similar Products</h1>
        <p>Explore more delicious flavors curated just for you</p>
        <img src="{% static 'image/separator-img.png' %}" alt="Separator">
    </div>

    <div class="box-container">
        {% if similar %}
            {% for item in similar %}
            <form action="{% url 'add_to_cart' item.id %}" method="post"
                  class="box {% if item.stock == 0 %}disabled{% endif %}">
                {% csrf_token %}

                <img src="{{ item.image.url }}" alt="Product Image" class="image">

                {% if item.stock > 9 %}
                    <span class="stock" style="color: green;">In Stock</span>
                {% elif item.stock == 0 %}
                    <span class="stock" style="color: red;">Out of Stock</span>
                {% else %}
                    <span class="stock" style="color: red;">Hurry, only {{ item.stock }} left!</span>
                {% endif %}

                <div class="content">
                    <img src="{% static 'image/shape-19.png' %}" alt="" class="shap">

                    <div class="button">
                        <h3 class="name">{{ item.name }}</h3>

                        <div>
                            <button type="submit">
                                <img src="{% static 'image/icon/cart.png' %}">
                            </button>

                            <button type="submit" formaction="{% url 'add_to_wishlist' item.id %}">
                                <img src="{% static 'image/icon/wl.png' %}">
                            </button>

                            <a href="{% url 'view_product' item.id %}" class="bx bxs-show"></a>
                        </div>
                    </div>

                    <p class="price">Price: ${{ item.price }}</p>
                    <input type="hidden" name="product_id" value="{{ item.id }}">

                    <div class="flex-btn">
                        <a href="{% url 'checkout' %}?get_id={{ item.id }}" class="btn">Buy Now</a>
                        <input type="number" name="qty" min="1" max="99" value="1" class="qty box">
                    </div>
                </div>
            </form>
            {% endfor %}
        {% else %}
            <div class="empty">
                <p>No similar products found!</p>
            </div>
        {% endif %}
    </div>
</div>


{% endblock content%}